[Desktop Entry]
Version=1.0
Type=Application
Name=PhpStorm
Icon=phpstorm
Exec=phpstorm
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-phpstorm
